:root {
  --orange: rgb(255, 160, 122);
  --dark: #05284c;
  --medium: #05668d;
  --jade: #57cc99;
  --bright: #80ed99;
  --pale: #c7f9cc;
  --light: #fafdff;
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,400;1,700&display=swap');

/* All text apart from headers = Montserrat   >  font-family: 'Montserrat', sans-serif;
   All headers/titles = Amatic   >  font-family: 'Amatic SC', cursive;
*/

.App {
  font-family: 'Montserrat', sans-serif;
  background-image: url('./assets/speckle.png');
  background-color: var(--light);
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  color: var(--dark);
  width: 100%;
}

header {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: 'Amatic SC', cursive;
}

.logo {
  width: 35%;
  margin-bottom: 10px;
}

.form-container, .login-form, .signUp-form{
  display: flex;
  flex-direction: column;
  border: #008B8B;
  background-color: var(--orange);
  color: var(--dark);
  width: 100%;
}

.login-sign {
  background-color: var(--orange);
  padding: 20px;
  border-radius: 15px;
  align-self: center;
  margin-top: 2%;
}

label {
  text-align: left;
  padding: 0.25rem 0;

}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: var(--jade);
  padding: 15px;
  border-radius: 10px;
}

.login-btn, .sign-up {
  font-size: 20px;
  color: var(--dark);
}

button:hover {
  background-color: var(--bright);
}

.link-btn {
  background: none;
  color: white;
  text-decoration:underline ;
}

.link-btn:hover {
  background: none;
  font-display: none;
  color: var(--dark)
}

/* NavBar Styling */
.navBar {
  align-self: flex-end;
  display: contents;
}

.navBarList {
  display: flex;
  margin-right: 2%;
  padding: 0;
}

.navBarList li {
  list-style-type: none;
  margin: 0 15px 0 15px;
}

.navBarList li a {
  text-decoration: none;
  color: var(--dark);
}

.navBarList li a:hover {
  color: var(--jade);
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 700px) {

  .logo {
    width: 25%;
    margin-left: 15px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .navBar {
    margin-right: 15px;
  }

  .navBarList li {
    font-size: 20px;
  }
  
}

@media screen and (min-width: 992px) {

  .App {
    justify-content: flex-start;
  }
  .logo {
    margin-top: 15px;
    width: 15%;
  }

  .navBarList li {
    font-size: 25px;
  }

  .login-sign {
    width: 30%;
  }
}