:root {
  --primary: rgb(255, 160, 122)
}
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: var(--primary) ;
}

.form-container, .login-form, .signUp-form{
  display: flex;
  flex-direction: column;
  border: #008B8B;
  
}

label {
  text-align: left;
  padding: 0.25rem 0;

}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 5%;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #008B8B;
}

.link-btn {
  background: none;
  color: white;
  text-decoration:underline ;
}

.link-btn:hover {
  background: none;
  font-display: none;
}